

body{
    margin:0;
    padding: 0;
    background-color: #0B1416;
}

.header-logo{
    width: 55px;
    height: 55px;
    padding: 5px;
}

.logo-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 50px;
}
