

body{
    margin:0;
    padding: 0;
    background-color: #0B1416;
}

.header-logo{
    width: 45px;
    height: 45px;
    padding: 5px;
}

.logo-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
}

.subredditProfile{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.postText{
    line-height: 35px;
}